<div class="search">
    {{ form_start(formSearch, { 'attr' : { 'class' : '' }} ) }}
        <div class="search_container">
            <p class="search_title">
                Cherchez par ville ou code postal
            </p>
            {{ form_widget(formSearch.query, { 'attr' : { 'class' : 'search_input' }} ) }}
        </div>

        <div class="btn_filter">
            <p>
                <span class="container_word">
                    <span>Plus de filtres</span> 
                    <i class="fas fa-sort-amount-up-alt"></i>
                </span>
            </p>
        </div>

        <div class="search_container_filter">
            <div class="container_filter">
                <p class="">
                    Prix
                </p>
                {{ form_widget(formSearch.minPriceByMonth, { 'attr' : { 'class' : 'filter_input' }} ) }}
                {{ form_widget(formSearch.maxPriceByMonth, { 'attr' : { 'class' : 'filter_input' }} ) }}
            </div>
            <small class="error_input_small">{{ form_errors(formSearch.minPriceByMonth) }}</small>
            <small class="error_input_small">{{ form_errors(formSearch.maxPriceByMonth) }}</small>

            <div class="container_filter" >
                <p class="">
                    Espace en M2
                </p>
                {{ form_widget(formSearch.minSpace, { 'attr' : { 'class' : 'filter_input' }} ) }}
                {{ form_widget(formSearch.maxSpace, { 'attr' : { 'class' : 'filter_input' }} ) }}
            </div>
            <small class="error_input_small">{{ form_errors(formSearch.minSpace) }}</small>
            <small class="error_input_small">{{ form_errors(formSearch.maxSpace) }}</small>

            <div class="container_filter_checkbox" >
                <p class="">
                    Categorie
                </p>
                {% for category in formSearch.categories %}
                    <label class="container_filter_checkbox_item">
                        {{ form_widget(category) }}
                        <span class="checkmark"> </span>
                        {{ category.vars.label|raw }}
                    </label>
                {% endfor %}
            </div>

            <div class="container_button">
                <p class="">
                    <input type="submit" value="Chercher" class="button-26">
                </p>
            </div>
        </div>
        
    {{ form_end(formSearch) }}
</div>