{% extends "base.html.twig" %}

{% block title %}Faire une réservation{% endblock %}

{% block javascrpit2 %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">

    <h1>{{ block('title') }}</h1>

    {% if oneBookingTrue == true %}
        <p>Il est possible de souscrire qu'à un seul abonnement </p>
        <p>Vous avez un abonnement déjà en cours</p>
    {% endif %}

    <div class="one_storage_space">

        {% if storageSpace.images %}
            <img class="img_storage_page_get_all img_storage_page_get_all_2500 img_storage_page_get_one " src= "{{ asset('/uploads/images/' ~ storageSpace.images) }}" alt="" > 
        {% else %}
            <img class="img_storage_page_get_all img_storage_page_get_all_2500 img_storage_page_get_one " src= "{{ asset('/uploads/default/default.jpg') }}" alt="" > 
        {% endif %}

        <div class="description">
            <h3>{{storageSpace.title }}</h3>
            <h4>{{storageSpace.space }} m2</h4>
            <h5>{{ storageSpace.priceByMonth  / 100 | number_format(2, '.', ' ') }} €/mois</h5>
        </div>
    </div>

    {% if oneBookingTrue != true %}

        {{ form_start(formBooking, { 'attr' : { 'class' : 'container_form ' }} ) }}

            <div class="div_form">

                <label for="inputTitle"class='form_label'>Date de réservation : </label>

                <div>
                    {{ form_widget(formBooking.dateStartAt, {attr : 
                        {
                            class : ' js-datepicker form_input',

                        }} ) }}
                </div>
                
                <small class="error_input_small">{{ form_errors(formBooking.dateStartAt) }} </small>

            </div>
            <input type='hidden' name='storage' value="{{ storageSpace.id }}" id='storage'>

            <button type='submit' class="btn" >Reserver </button>
        
        {{ form_end(formBooking) }}

    {% endif %}
</div>
{% endblock body %}