{% extends "base.html.twig" %}

{% block title 'Voir tous mes transactions' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">

    <section>
        <h1>Voir tous mes transactions</h1>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Adresse complet du produit</th>
                    <th scope="col">Type du produit</th>
                    <th scope="col">espace du produit</th>
                    <th scope="col">Propriétaire du produit</th>
                    <th scope="col">Prix/mois du produit</th>
                    <th scope="col">Date de création de la réservation</th>
                    <th scope="col">Date du début de la réservation</th>
                    <th scope="col">Date de fin de la réservation</th>
                    {# <th></th> #}
                </tr>
            </thead>

            <tbody>
                {% for booking in bookings %}
                     
                    <tr>
                        <td data-title="Nom du produit" class="responsive_td_name_produit">{{ booking.storageSpace.title }}</td>
                        <td data-title="Adresse complet du produit">
                            {{ booking.storageSpace.adresse }}
                            {{ booking.storageSpace.postalCode }}
                            {{ booking.storageSpace.city }}
                        </td>
                        <td data-title="Type du produit">{{ booking.storageSpace.category.name }}</td>
                        <td data-title="Espace du produit">{{ booking.storageSpace.space }} m2</td>
                        <td data-title="Propriétaire du produit">
                            {{ booking.storageSpace.owner.firstName }}
                            {{ booking.storageSpace.owner.lastName }}
                        </td>
                        <td data-title="Prix/mois du produit">{{ booking.storageSpace.priceByMonth  / 100 | number_format(2, '.', ' ') }} €/mois</td>
                        <td data-title="Date de création de la réservation">{{ booking.createdAt | date('d/m/Y H:i') }}</td>
                        <td data-title="Date du début de la réservation">{{ booking.dateStartAt | date('d/m/Y') }}</td>

                        {% if booking.dateEndAt %}
                            <td data-title="Date de fin de la réservation">{{ booking.dateEndAt | date('d/m/Y') }}</td>
                        {% else %}
                               {# <td data-title="Date de fin de la réservation"></td> #}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>    

{% endblock body %}
