{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('component/input_and_floating_label') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">

    <h1 class="">Se Connecter</h1>

    <div class="container_form">

        {% if error %}
            <div class='error_form_login'>
                Email ou mot de passe incorrect(s)
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        {% endif %}

        <form method="post">

            <div class="form-container">
                <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-input" required autofocus>
                <label for="inputEmail" class="form-label">Email</label>
            </div>

            <div class="form-container">
                <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-input" required>
                <label for="inputPassword" class="form-label">Mot de passe</label>
            </div>

            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}
