/* css */

/* **************** css pour mobile *********************** */

@import url('../../../variables.css');


.search_container_filter {
    background-color: var(--grey-main);
    margin-top: 1vw;
    display: none;
}

/* ---- Input ----- */

.search_container_filter .filter_input {
    padding: 1vw;
    border: none;
    margin: 1vw;
}

.search_container_filter .container_filter {
    padding: 1vw;
}

.search_container_filter .container_filter p {
    font-size: 28px;
    margin: 0 0 1vw 0;
}

/* ---- Checbox ----- */
.container_filter_checkbox {
    padding: 0 17vw
}

.container_filter_checkbox p {
    font-size: 28px;
    margin: 0 0 1vw 0;
}

.container_filter_checkbox_item {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}
  
/* Hide the browser's default checkbox */
.container_filter_checkbox_item input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
/* Create a custom checkbox */
.checkmark {
    margin: 0 10px 0 0;
    padding: 1px 13px;
    background-color: var(--white);
}

/* On mouse-over, add a grey background color */
.container_filter_checkbox_item:hover input ~ .checkmark {
    background-color: var(--white);
}
  
/* When the checkbox is checked, add a blue background */
.container_filter_checkbox_item input:checked ~ .checkmark {
    background-color: #2196F3;
    position: relative;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container_filter_checkbox_item input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container_filter_checkbox_item .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 1px;
}

/* ---- BTN ----- */

.btn_filter {
    margin: 2vw;
}

.container_button {
    padding: 1vw 0;
}
.button-26 {
    appearance: button;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.button-26:disabled {
    opacity: .5;
}

.button-26:focus {
    outline: 0;
}

.button-26:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}

.button-26:active {
    background-color: #0039D7;
    border-color: #0039D7;
}