/* css */

/* **************** css pour mobile *********************** */

@import url('../../../variables.css');

/* The switch - the box around the switch_check */
#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch_check */
p.switch_check {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

p.switch_check:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url("../../../../uploads/default/other_img/soleil.png");
  background-size: cover;
}

.dark p.switch_check::before {
  background-image: url("../../../../uploads/default/other_img/lune3.png");
}

input:checked + p.switch_check {
  background-color: var(--black-clear);
}

input:focus + p.switch_check {
  box-shadow: 0 0 1px var(--black-clear);
}

input:checked + p.switch_check:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded switch_checks */
p.switch_check.round {
  border-radius: 34px;
}

p.switch_check.round:before {
  border-radius: 50%;
}