@import url('./variables.css');

/***********css par défaut mobile ********************/

/* Theme color */

.dark {
  --theme-main-background-in-progress: var(--black02);
  --theme-main-text-in-progress: var(--white);
  /* --theme-menu-background-in-progress: var(--black03);
  --theme-little-menu-background-in-progress: var(--black-clear); */
}

/* GLOBAL */

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%; /* Pour footer en bas de page */
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

body{
    background-color: var(--theme-main-background-in-progress);
    font-size: 1.6rem; 
    width: 100%;
    color: var(--theme-main-text-in-progress);
}

img, video, table{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #aaa;
}

table{
    width: 100%;
}


/* /////////// H E A D E R ////////////// */

nav{
  font-size: 5rem;
  margin: 4rem 2rem;
  text-align: center;
  /* background-color: darkgoldenrod; */
}

nav li, li {
  list-style-type: none;
}

nav form button {
  font-size: 2.2rem;
  width: 75%;
  height: 5rem;
  border: none;
}

nav .logo #HS_logo_bg_rogner {
  display: inline-block;
  width: 11vw
}

nav .logo #HomeStock_logo_bg_rogner {
  display: none;
}

#menuToggle {
  display: block;
  position: relative;
  top: .5rem;
  left: .5rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  font-size: 4rem;
  transition: color 0.3s ease;
}

#menuToggle li:hover, #menuToggle a:hover
{
  color: var(--main-color-old);
}

#menuToggle input
{
  display: block;
  width: 9.5rem;
  height: 6rem;
  position: absolute;
  top: -.7rem;
  left: -.5rem;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 5rem;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  position: relative;
  
  background: var(--main-color-old);
  border-radius: .3rem;
  
  z-index: 1;
  
  transform-origin: 2rem 1.2rem;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0.5rem -1.3rem;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--main-color-old);
}
 
/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

 
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 119%;
  margin: -19rem 0 0 -5rem;
  padding: 5.5rem .5rem 5.5rem 2rem;
  /* padding-top: 12.5rem; */
  
  background: var(--theme-little-menu-background-in-progress);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  margin: 1rem 0;
  font-size: 4.2rem;
}

#menu li a {
  font-size: 2.5rem;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


/* /////////// M A I N ////////////// */

.container{
   /* padding: 4rem; */
   text-align: center;
   min-height: 74vh; /* Pour footer en bas de page */
}

h1, h2, h3, 
.link_for_add,
.storage_title,
.storage_description,
.storage_position,
.storage_category,
.storage_space,
.storage_price_days,
.storage_price_month,
.storage_date_create,
.storage_owner
{
  /* margin: 2rem; */
  word-wrap: break-word;
  font-size: x-large;
  color: #444;
}

h1 {
  font-size: 4vw;
  color: var(--black);
  margin: 0 0 8rem;
}

h2 {
  font-size: 3vw;
}

h3, h4, h5 {
  font-size: 2vw;
}

.link_for_add {
    font-size: 4rem;
    margin: 5rem 0;
    text-align: left;
    padding: 0 3vw;
}

/* ***** message add flash ***** */
.bm-messages-success {
  background-color: #0A8E30;
  color: var(--white);
}

.bm-messages-wraning {
  background-color: #a26d0b;
  color: var(--white);
}

.bm-messages-error {
  background-color: #A2250B;
  color: var(--white);
}

.bm-messages-message, .bm-messages-notice {
  background-color: #534E4D;
  color: var(--white);
}

 /* ***** message add flash ***** */
 .bm-messages-success,
 .bm-messages-wraning,
 .bm-messages-error,
 .bm-messages-message, 
 .bm-messages-notice {
   font-size: 4vw;
 }

/* ***** page_get_all ***** */

/* Card */

.get_all_storage_space {
    padding: 4vw;
}

.get_all_storage_space .card {
  width: 100%;
  height: 135vw;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: var(--white);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 7vw;
}
 
.get_all_storage_space .card img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}
.get_all_storage_space .card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    background-color: var(--black-clear);
    font-size: 10vw;
    color: var(--white);
    width: 81vw;
}

.get_all_storage_space .card ul, .card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    background-color: var(--black-clear);
}
  
.get_all_storage_space .card ul {
    inset: auto auto 44vw 7vw;
    background-color: var(--black-clear);
}
  
.get_all_storage_space .card a {
    inset: auto auto 20vw 7vw;
    color: inherit;
    text-decoration: none;
    background-color: var(--black-clear);
}

.get_all_storage_space .card li, .get_all_storage_space .card a {
  font-size: 5vw;
}
  
.get_all_storage_space .card:hover h2 {
    inset: auto auto 90vw 7vw;
    transition: inset .3s ease-out;
    background-color: var(--black-clear);
}
  
.get_all_storage_space .card:hover ul, .get_all_storage_space .card:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
    background-color: var(--black-clear);
}
  
.get_all_storage_space .card:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
}

/* ***** page_get_one_storage ***** */

.comment {
  margin: 4rem 0;
  padding: 2rem 0 0;
}

.comment p, .comment p span {
  font-size: 2.5rem;
}

.comment .get_comment {
  margin: 1vw;
  background-color: var(--grey-main);
  text-align: left;
  padding: 1vw;
}

#add-comment {
  padding: 0 0 2rem;
}

#add-comment textarea {
  height: 20rem;
}

.get_comment_response {
  margin: 2rem;
}

.comment_delete a {
  color: rgb(88, 27, 27);
}

.one_storage_space {
  background-color: #fff;
  border-radius: 2rem;
}

/* ***** page with form ***** */

.container_form {
  margin: 4vw;
  /* width: 100%; */
  padding: 10vw 6vw;
  /* background-color: rgba(76, 68, 187, 0.3);  */
  /* border-radius: 3rem; */
  background: linear-gradient(217deg, rgba(255, 0, 0,0.1), rgba(255, 0, 0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0,0.1), rgba(0, 255, 0,0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255,0.2), rgba(0, 0, 255,0) 70.71%);
}

.div_form {
  /* margin: 5rem 0; */
}

.form_label {
   display: block;
   text-align: left;
   font-size: 3rem;
   /* margin: 2rem 0; */
}

.form_input {
   display: block;
   width: 100%;
   height: 5rem;
   font-size: 2.5rem;
   /* border-radius: 2rem; */
   padding: 10px 10px 10px 15px;
}

textarea.form_input {
  height: 8em;
}

.form_input select {
  height: 100%;
  font-size: 2.5rem;
  width: 30%;
  margin: 0.5rem;
}

.btn_submit {
   width: 30rem;
   height: 6rem;
   font-size: 3rem;
   margin: 0 0 2rem 0;
}

.form_action{
  font-size: 4vw;
  margin: 1vw 0;
}

.btn_pay_or_cancel_booking, 
.success_payment_facturation, 
.btn
{
  width: 100%;
  height: 100%;
  font-size: 4vw;
  margin: 0 4rem 2rem 0;
  margin: 1vw 0;
  background-color: #4c44bb;
  color: #aaa;
  /* border-radius: 2vw; */
  padding: 0.3vw;
}

.one_storage_btn {
  margin: 4rem 0;
}

a.btn {
  padding: 2vw;
  margin: 0 1vw;
}

.span_modif_get_one_user {
  display: block;
  background-color: #4c44bb;
  margin: 0 0 0 2rem;
}

.btn_modif_get_one_user {
  vertical-align: middle;
  
}

.error_form_login {
  font-size: 3rem;
  background-color: rgb(201, 36, 36);
  padding: 2rem;
  color: white;
}

.error_input_small {
  font-size: 4vw;
  color: red;
  padding: 1rem;
}

/* ***** page_get_one_user ***** */

.profile_one_user {
  margin: 5rem auto;
  width: 100%;
  background-color: rgba(76, 68, 187, 0.3); 
  padding: 1rem 0;
  border-radius: 2rem;
}

.profile_one_user .modif_or_supp {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile_one_user .modif_or_supp span {
  padding: 0 24vw;
}

.profile_one_user li, .profile_one_user button {
  font-size: 3.5rem;
  margin: 2rem 0;
  padding: 0 0.5rem;
}

/* ***** table responsive ***** */

.table-responsive thead {
  display: none;
}

.table-responsive table,
/* .table-responsive thead, */
.table-responsive tbody,
.table-responsive th,
.table-responsive td,
.table-responsive tr {
  display: block;
}

/* on active l'attribut data-title */
.table-responsive td:before { 
  content: attr(data-title); 
}

.table-responsive tr {
  width: 100%;
}

.table-responsive td {
  position: relative;
  border: 0px solid transparent;
  padding-left: 50% !important;
  white-space: normal;
  text-align: center; 
  font-size: 2rem;
  padding: 1.5rem 0;
  
}

.table-responsive td:before { 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  padding-right: 1.5rem; 
  height:100%;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow:hidden !important;
  /* text-align:left; */
  background-color:#f8f8f8;
  padding:1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.responsive_td_name_produit, 
.table-responsive td.responsive_td_name_produit:before
{
  /* background-color: #4c44bb; */
  background-color: var(--main-color-old-transparent);
  color: var(--white);
}

/** page stripe  **/
.cancel_payment, .return_payment, .success_payment {
  font-size: 8rem;
}

/************ page_get_one_storage_space ************/


.one_storage_space .one_storage {
    /* display: flex;
    justify-content: space-between; */
}

.one_storage_space .one_storage .one_storage_text {
    text-align: left;
    padding: 1vw;
    background-color: var(--grey-main);
    font-size: 3vw;
}

/* FOOTER */

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;
  align-items: center;
  padding: 6vw;
}

footer p {
    margin-bottom: 5vw;
}


/* **************** css pour TABLETTE *********************** */
/* and (max-width: 1024px) */
@media only screen and (min-width: 600px)  
{
  /* /////////// H E A D E R ////////////// */

  #menu {
    padding: 2.5rem .5rem;
    width: 108%;
  }

  #menuToggle span {
    width: 9rem;
    height: 1.5rem;
    transform-origin: 3rem 1.3rem;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 1.2rem -1rem;
  }

  #menu li a {
    font-size: 4.5rem;
  }

  #menu li {
    margin: 2rem 0;
  }

  nav form button {
    font-size: 4rem;
  }

  /* /////////// M A I N ////////////// */

  .container{
    padding: 4rem;
  }

  .link_for_add {
    padding: 0;
}

  /* ***** page_get_all_storage_space ***** */

  .img_storage_page_get_all {
    height: 47rem;
  }

  .storage_title {
    font-size: 5rem;
  }

  .storage_description,
  .storage_position, 
  .storage_position span, 
  .storage_category, 
  .storage_space, 
  .storage_price_days, 
  .storage_price_month, 
  .storage_date_create, 
  .storage_owne {
    font-size: 2.5rem;
    padding: 0.5rem;
  }

  /* card */
  .get_all_storage_space{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0;
  }

  .get_all_storage_space .card {
      width: 43vw;
      height: 60vw;
  }

  .get_all_storage_space .card h2 {
      font-size: 5vw;
      width: 38vw;
  }

  .get_all_storage_space .card ul {
      inset: auto auto 16vw 4vw;
  }

  .get_all_storage_space .card a {
      inset: auto auto 4vw 4vw;
  }

  .get_all_storage_space .card ul, .get_all_storage_space .card li, .get_all_storage_space .card a {
    font-size: 3vw;
  }
      
  .get_all_storage_space .card:hover h2 {
      inset: auto auto 44vw 4vw;
  }

  /* ***** table responsive ***** */
  
  .table-responsive td {
    font-size: 3rem;
  }

  .table-responsive td:before {
    font-size: 2.5rem;
  }


  /* ***** page_get_one_user ***** */
  
  .profile_one_user li, .profile_one_user button {
    font-size: 4.5rem;
    margin: 2rem 0;
  }

  /* ***** page with form ***** */

  .container_form {
    margin: 5rem auto;
    width: 100%;
    padding: 9vw 4vw;
  }

  #add-comment {
    padding: 0 2rem 2rem;
  }
  
  .error_input_small {
      font-size: 3vw;
  }

  .form_action{
    font-size: 3vw;
    margin: 1vw 0;
  }

  /* ***** message add flash ***** */
  .bm-messages-success,
  .bm-messages-wraning,
  .bm-messages-error,
  .bm-messages-message, 
  .bm-messages-notice {
    font-size: 3vw;
  }

  /* FOOTER */

  footer {
    flex-direction: row;
    justify-content:space-between;
    align-items: normal;
    padding: 3vw;
  }

  footer p {
      margin-bottom: 1vw;
  }
}


/* **************** css pour Desktop *********************** */
@media only screen and (min-width: 1025px) 
{

  /* /////////// H E A D E R ////////////// */

  nav {
    margin: 0;
    background-color: var(--theme-little-menu-background-in-progress);
    display: flex;
    flex-direction: row;
  }

  nav .logo {
    width: 147px;
    height: 36px;
    margin: 1.2vw;
  }

  nav .logo #HS_logo_bg_rogner {
    display: none;
  }

  nav .logo #HomeStock_logo_bg_rogner {
    display: inline-block;
  }

  #menuToggle span {
    display: none;
    position: initial;
  }

  #menuToggle {
    position: initial;
    width: 85%;
  }

  #menuToggle input {
    display: none;
  }

  #menu {
    transform: none;
    position: initial;
    margin: 0;
    padding: 1vw 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* background-color: var(--grey-main); */
  }

  .menu_li_dashboard {
    position: relative;

  }

  #menu li {
    font-size: 3rem;
  }
  
  #menu li a {
    color: var(--black);
    font-size: 2vw;
  }

  nav form button {
    color: var(--black);
    background-color: var(--grey-main);
    width: 88%;
    font-size: 2.5rem;
  }

  .sous_menu {
    display: none;
  }

  nav li:hover .sous_menu {
    display: inline-block;
    position: absolute;
    top: 3rem;
    left: -17rem;
    background-color: var(--grey-main);
    width: 260%;
  }

  /* /////////// M A I N ////////////// */

  .container{
    padding: 4rem;
  }

  
  /* ***** table responsive ***** */
  
  /* revenir a une structure de tableau de base*/
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: revert;
  }
  
  /* on désactive l'attribut data-title */
  .table-responsive td:before { 
    content: ""; 
  }
  
  .responsive_td_name_produit
  {
    color: var(--black);
  }

  .table-responsive td:before { 
    position: none;
    top: 0;
    left: 0;
    width: 0; 
    padding-right: 0; 
    height:0;
    background-color: none;
    padding:0;
    font-size: 0;
    font-weight: bold;
  }

  .table-responsive td {
    position: none;
    /* border: .1rem solid black; */
    padding-left: 0% !important;
    white-space: normal;
    text-align: center; 
    font-size: 2rem;
    padding: 0;
    
  }

  .table, .table-responsive th, .table-responsive td  {
    border: .1rem solid rgb(80, 76, 76);
    border-collapse: collapse;
    padding: 1rem;
  }

  .responsive_td_name_produit, 
  .table-responsive td.responsive_td_name_produit:before
  {
    background-color: transparent;
  }

  .table-responsive th {
    background-color: var(--main-color-old-transparent);
    color: var(--white);
  }

  .table-responsive tr:nth-child(even) {
    background-color: #7c7878;
    color: #111;
  }

  .table-responsive tr:hover {
    background-color: rgb(70, 71, 66);
    color: #aaa;
  }

  /************ page_get_all_storage_space ************/

  /* card */

  .get_all_storage_space .card {
      width: 450px;
      height: 600px;
  }

  .get_all_storage_space .card h2 {
      font-size: 50px;
      width: 400px;
  }

  .get_all_storage_space .card ul {
      inset: auto auto 103px 40px;
  }

  .get_all_storage_space .card a {
      inset: auto auto 40px 40px;
  }

  .get_all_storage_space .card ul, .get_all_storage_space .card li, .get_all_storage_space .card a {
    font-size: 30px;
  }
      
  .get_all_storage_space .card:hover h2 {
      inset: auto auto 388px 25px;
  }

  /************ page_get_one_storage_space ************/

  .img_storage_page_get_one {
    height: 30vw;
    width: 80vw;
  }

  .one_storage_space {
    width: calc(100% - 25%) ;
    margin: 7rem auto;
  }

  .one_storage_space .one_storage {
      /* display: flex;
      justify-content: space-between; */
  }

  .one_storage_space .one_storage .one_storage_text {
    text-align: left;
    padding: 1vw;
    background-color: var(--grey-main);
    font-size: 2vw;
  }


  /* ***** page with form ***** */

  .container_form {
    width: 55%;
  }

  .error_input_small {
      font-size: 1.5vw;
  }

  .form_action{
    font-size: 2vw;
    margin: 1vw 0;
  }

  
  /* ***** page_get_one_user ***** */
  
  .profile_one_user {
    width: 70%;
  }

  .btn_pay_or_cancel_booking, 
  .success_payment_facturation, 
  .btn
  {
    font-size: 3vw;
    margin: 1vw 0;
    padding: 0.3vw;
  }

  a.btn {
    padding: 1vw;
    margin: 0 1vw;
  }

  .profile_one_user li, .profile_one_user button {
      font-size: 2vw;
      margin: 1vw 0;
  }

   /* ***** message add flash ***** */
   .bm-messages-success,
   .bm-messages-wraning,
   .bm-messages-error,
   .bm-messages-message, 
   .bm-messages-notice {
     font-size: 2vw;
   }
}

/* **************** css pour Desktop 2500px *********************** */
@media only screen and (min-width: 2500px) 
{
  /* /////////// M A I N ////////////// */

  /************ page_get_one_storage_space ************/

  .img_storage_page_get_all_2500 {
    height: 100rem;
    /* border-radius: 2rem; */
  }

  .one_storage_space {
    width: calc(100% - 35%) ;
    margin: 7rem auto;
  }

  /* ***** page with form ***** */

  .container_form {
    width: 50%;
  }

   /* ***** page_get_one_user ***** */

   .profile_one_user {
    width: calc(100% - 35%) ;
  }
}