:root {
    /* Light theme */
    --main-color-old: #4c44bb;
    --main-color-old-transparent:rgba(76, 68, 187, 0.5);
    --grey-main: rgba(233, 233, 240, 0.836);

    --white: #fff;
    --white-clear: rgba(255, 255, 255, 0.2);

    --black: #000;
    --black-clear: rgba(22, 21, 21, 0.4);

    --menu-background: #ededed;

    /* Default */
    --theme-main-background-in-progress: var(--white);
    --theme-main-text-in-progress: var(--black);
    --theme-menu-background-in-progress: var(--menu-background);
    --theme-little-menu-background-in-progress: var(--grey-main);
    --theme-little-menu-text-in-progress: var(--grey-main);

    /* Dark theme */
    --black02: #000000d2;
    --black03: #000000b3;
}