{% extends "base.html.twig" %}

{% block title 'Créer un espace de stockage' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('component/input_and_floating_label') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">

    <h1>Créer un espace de stockage</h1>

    <div class="container_form">

        {{ form_start(formStorageSpace, { 'attr' : { 'class' : 'form' }} ) }}

            <div class="form-container">
                <div>
                    {{ form_widget(formStorageSpace.title, {attr : {class : 'form-input' }} ) }}
                    <label for="inputTitle" class="form-label">Titre :</label>
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.title) }}</small>
            </div>

            <div class="div_form">
                <label for="inputDescription" class="form_label">Description : </label>
                <div>
                    {{ form_widget(formStorageSpace.description, {attr : {class : 'form_input' }} ) }}
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.description) }}</small>
            </div>

            <div class="form-container">
                <div>
                    {{ form_widget(formStorageSpace.adresse, {attr : {class : 'form-input' }} ) }}
                    <label for="inputAdresse" class="form-label">{{ form_label(formStorageSpace.adresse) }}</label>
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.adresse) }}</small>
            </div>

            <div class="form-container">
                <span>
                    <div>
                        {{ form_widget(formStorageSpace.postalCode, {attr : {class : 'form-input' }} ) }}
                        <label for="inputPostalCode" class="form-label">Code postale :</label>
                    </div>
                    <small class="error_input_small">{{ form_errors(formStorageSpace.postalCode) }}</small>
                </span>

                <span>
                    <div>
                        {{ form_widget(formStorageSpace.city, {attr : {class : 'form-input' }} ) }}
                        <label for="inputPostalCode" class="form-label">Ville :</label>
                    </div>
                    <small class="error_input_small">{{ form_errors(formStorageSpace.city) }}</small>
                </span>
            </div>

            <div class="form-container">
                <div class="form-error">
                    {{ form_errors(formStorageSpace.category) }}
                </div>
                <div>
                    {{ form_widget(formStorageSpace.category, {attr : {class : 'form-input' }} ) }}
                    <label for="inputType" class="form-label">Type d'espace :</label>
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.category) }}</small>
            </div>

            <div class="form-container">
                <div class="form-error">
                    {{ form_errors(formStorageSpace.space) }}
                </div>
                <div>
                    {{ form_widget(formStorageSpace.space, {attr : {class : 'form-input' }} ) }}
                    <label for="inputSpace" class="form-label">Espace en m2 :</label>
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.space) }}</small>
            </div>

            <div class="form-container">
                <div>
                    {{ form_widget(formStorageSpace.priceByDays, {attr : {class : 'form-input' }} ) }}
                    <label for="inputPrice" class="form-label">Prix par jour :</label>
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.priceByDays) }}</small>
            </div>

            <div class="div_form">
                <label for="inputImage" class="form_label">Photo de l'espace de stockage (Facultatif)</label>
                <div>
                    {{ form_widget(formStorageSpace.imageFile, {attr : {class : 'form_input'} } ) }}
                </div>
                <small class="error_input_small">{{ form_errors(formStorageSpace.imageFile) }}</small>
            </div>

            <button type="submit" class="btn">Céer</button>

        {{ form_end(formStorageSpace) }}
    </div>
</div>
{% endblock body %}