{% extends 'base.html.twig' %}

{% block title %}Espaces de stockage{% endblock %}

{% block body %}
<div class="container">
    <h1>Espaces de stockage</h1>

    <section class="section_one_storage_space ">
        <section class="one_storage_space">
            <article class='one_storage'>

                <div class='one_storage_img'>
                    {% if storageSpace.images %}
                        <img class="img_storage_page_get_all img_storage_page_get_all_2500 img_storage_page_get_one" src="{{ asset('/uploads/images/' ~ storageSpace.images) }}" alt="{{ storageSpace.category.name }}" > 
                    {% else %}
                        <img class="img_storage_page_get_all img_storage_page_get_all_2500 img_storage_page_get_one" src="{{ asset('/uploads/default/default.jpg') }}" alt="Espace de stockage" > 
                    {% endif %}
                </div>

                <div class='one_storage_text'>
                    <p class=''> {{ storageSpace.title }}</p>
                    <p class=''> {{ storageSpace.description }}</p>
                    <p class=''>Adresse :
                        <span>{{ storageSpace.adresse }}</span> 
                        <span>{{ storageSpace.postalCode }}</span> 
                        <span>{{ storageSpace.city }}</span>
                    </p>
                    <p class=''>Catégorie : {{ storageSpace.category.name }}</p>
                    <p class=''> {{ storageSpace.space }} m2</p>
                    <p class=''>Prix par jours : {{ storageSpace.priceByDays / 100 | number_format(2, '.', ' ') }} € / jours</p>
                    <p class=''>Prix par mois : {{ storageSpace.priceByMonth / 100 | number_format(2, '.', ' ') }} € / mois</p>
                    <p class=''>Créer le : {{ storageSpace.createdAt | date('d/m/Y H:i') }}</p>
                    <p class=''>Propriétaire du bien : {{ storageSpace.owner.lastName }} {{ storageSpace.owner.firstName }}</p>

                    <p class="one_storage_btn">
                        {% if app.user %}
                            {% if storageSpace.owner.id == app.user.id %}
                                <span>
                                    <a href="{{ path('storage_space_edit', { 'id' : storageSpace.id } ) }}" class="btn">Modifier</a>
                                </span>
                                <span>
                                    <a href="{{ path('storage_space_delete', { 'id' : storageSpace.id } ) }}" class="btn">Supprimer</a>
                                </span>
                            {% endif %}
                        {% endif %}
                        <span>
                            <a href="{{ path('booking_add', { 'id' : storageSpace.id } ) }}" class="btn">Réserver</a>
                            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}"/>
                        </span>
                    </p>
                </div>
            </article>
        </section>

        <section class="one_storage_space">
            <article>
                <div class="comment">
                    <div id="add-comment">
                        <h2>Ajouter un commentaire</h2>

                        {# {% if app.user %} #}
                            {{ form_start(formComment, { 'attr' : { 'class' : 'container_form' }} ) }}
                                <div class="div_form">
                                    <label for="inputTitle" class='form_label'>Commentaire : </label>
                                    <div>
                                        {{ form_widget(formComment.content, {attr : {class : 'form_input' }} ) }}
                                    </div>
                                    <small class="error_input_small">{{ form_errors(formComment.content) }} </small>
                                </div>
                                <button type="submit" class="btn">Ajouter</button>
                            {{ form_end(formComment) }}
                        {# {% endif %} #}
                    </div>
                        
                    <h2>Liste des commentaires</h2>
                    {% for comment in storageSpace.comments %}
                        {% if comment.parent == null %}
                            <div class="get_comment">
                                <h3>Commentaire de {{ comment.owner.lastName }} {{ comment.owner.firstName }}</h3>
                                <p>Le {{ comment.createdAt | date('d/m/Y H:i') }} 

                                    {% if app.user != null %}    
                                        {% if comment.owner.id == app.user.id %}
                                            <span class="comment_delete">
                                                (<a href="{{ path('comment_delete', { 'id' : comment.id } ) }}">supprimer</a>)
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <p>{{ comment.content }}</P>
                                <p><a href="#add-comment" data-reply data-id="{{ comment.id }}">Répondre</a></p>
                                {# dataset https://develop er.mozilla.org/fr/docs/Web/API/HTMLOrForeignElement/dataset #}

                                {# on affiche les réponses #}
                                {% for reply in comment.replies %}
                                    <div class="get_comment_response">
                                        <p>
                                            Réponse publié par 
                                            <strong> 
                                                {{ reply.owner.lastName }} 
                                                {{ reply.owner.firstName }} 
                                            </strong> 
                                            le {{ reply.createdAt | date('d/m/Y H:i') }}

                                            {% if app.user != null %}
                                                {% if reply.owner.id == app.user.id %}
                                                    <span class="comment_delete">
                                                        (<a href="{{ path('comment_delete', { 'id' : reply.id } ) }}"> supprimer</a>)
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                        <p>{{ reply.content }}</P>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>
        </section>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = () => {
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#comment_parentid").value = this.dataset.id;         
                })
            });
        }
    </script>
{% endblock %}