{% extends 'base.html.twig' %}

{% block title %}Tous les espaces de stockage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('component/pagination') }}
    {{ encore_entry_link_tags('component/search_bar') }}
    {{ encore_entry_link_tags('component/filter_search_bar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('component/filter_search_bar') }}
{% endblock %}

{% block body %}
<div class="container">
    <h1>Espaces de stockage disponible</h1>

    {# Search bar #}
    {% include 'components/_search_data.html.twig' with { formSearch: formSearch } only %}

    {% if app.user %}
        <p class='link_for_add'><a href="{{ path('storage_space_add' ) }}" >Ajouter un espace de stockage</a></p>
    {% endif %}

    <section class="get_all_storage_space">
        {% for storageSpace in pagination %}
            {% if storageSpace.available == true %}
                <article class="card">
                    {% if storageSpace.images %}
                        <img class="" src="{{ asset('/uploads/images/' ~ storageSpace.images) }}" alt="{{ storageSpace.title }}" > 
                    {% else %}
                        <img class="" src="{{ asset('/uploads/default/default.jpg') }}" alt="Garage" > 
                    {% endif %}
                    
                    <div class="card-content">
                        <h2>
                            {{ storageSpace.title }}
                        </h2>

                        <ul>
                            <li>Categorie : {{ storageSpace.category.name }}</li>
                            <li>
                                <span>{{ storageSpace.adresse }}</span> 
                                <span>{{ storageSpace.postalCode }}</span> 
                                <span>{{ storageSpace.city }}</span>
                            </li>
                            <li>{{ storageSpace.space }} m2</li>
                            <li>{{ storageSpace.priceByDays / 100 | number_format(2, '.', ' ') }} € / jours</li>
                            <li>{{ storageSpace.priceByMonth / 100 | number_format(2, '.', ' ') }} € / mois</li>
                        </ul>

                        <a href="{{ path('storage_space_one', { 'id' : storageSpace.id } ) }}" class="button">
                            Voir le détail 
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </article>
            {% endif %}
        {% endfor %}

    </section>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
