{% extends "base.html.twig" %}

{% block title 'Voir tous mes espaces de stockage' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">

    <section>
        <h1>Voir tous mes espaces de stockage</h1>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Adresse complet du produit</th>
                    <th scope="col">Type du produit</th>
                    <th scope="col">espace du produit</th>
                    <th scope="col">Propriétaire du produit</th>
                    <th scope="col">Prix/mois du produit</th>
                    <th scope="col">Date de création de la réservation</th>
                    {# <th scope="col">Date du début de la réservation</th> #}
                </tr>
            </thead>

            <tbody>
                {% for storageSpace in storageSpaces %}

                    <tr>
                        <td data-title="Nom du produit" class="responsive_td_name_produit">{{ storageSpace.title }}</td>
                        <td data-title="Adresse complet du produit">
                            {{ storageSpace.adresse }}
                            {{ storageSpace.postalCode }}
                            {{ storageSpace.city }}
                        </td>
                        <td data-title="Type du produit">{{ storageSpace.category.name }}</td>
                        <td data-title="espace du produit">{{ storageSpace.space }} m2</td>
                        <td data-title="Propriétaire du produit">
                            {{ storageSpace.owner.firstName }}
                            {{ storageSpace.owner.lastName }}
                        </td>
                        <td data-title="Prix/mois du produit">{{ storageSpace.priceByMonth / 100 | number_format(2, '.', ' ') }} €/mois</td>
                        <td data-title="Date de création de la réservation">{{ storageSpace.createdAt | date('d/m/Y H:i') }}</td>
                        {# <td>{{ storageSpace.bookings.dateStartAt | date('d/m/Y') }}</td> #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>    

{% endblock body %}