{% extends 'base.html.twig' %}

{% block title %}Espaces de stockage{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
    <h1>Mon compte</h1>

    <section>
        <article class="profile_one_user">
            <ul>
                <div>
                    {# <img src= "{{ asset('/images/products/' ~ storageSpace.image) }}" alt="" > #}
                </div>
                <li> {{ user.lastName }} </li>
                <li> {{ user.firstName }} </li>

                {% if user.phoneNumber %}
                    <li>{{ user.phoneNumber }}</li>
                {% else %}
                    <li> Téléphone: ... </li>
                {% endif %}
                
                <li> {{ user.email }} </li>
                <li>Céer le : {{ user.createdAt | date('d/m/Y H:i') }} </li>

                <li class="modif_or_supp">
                {# class="span_modif_get_one_user" #}
                    <span >
                        <button class="btn"><a href="{{ path('user_edit', { 'id' : user.id } ) }}" > Modifier</a></button>
                    </span>

                    <span>
                        {# <a href="{{ path('user_delete', { 'id' : user.id } ) }}">Supprimer</a> #}
                        <form method="POST" action="{{ path('user_delete') }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir supprimer votre compte ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                            <button class="btn"> Supprimer </button>
                        </form>
                    </span>
                </li>
            </ul>
        </article>

    </section>
</div>
{% endblock %}