{% extends "base.html.twig" %}

{% block title 'Modifier un user' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('component/input_and_floating_label') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="container_from">

        <h1>Modifier mon compte</h1>

        <div class="container_form">

            {{ form_start(formUser, { 'attr' : { 'class' : 'form' }} ) }}

                <div class="form-container">
                    <div>
                        {{ form_widget(formUser.lastName, {attr : {class : 'form-input' }} ) }}
                        <label for="inputUsername" class="form-label">Nom d'utilisateur</label>
                    </div>
                    
                    <small class="error_input_small">{{ form_errors(formUser.lastName) }} </small>
                </div>

                <div class="form-container">
                    <div>
                        {{ form_widget(formUser.firstName, {attr : {class : 'form-input' }} ) }}
                        <label for="inputUsername" class="form-label">Prénom d'utilisateur</label>
                    </div>
                    
                    <small class="error_input_small">{{ form_errors(formUser.firstName) }} </small>
                </div>

                <div class="form-container">
                    <div>
                        {{ form_widget(formUser.phoneNumber, {attr : {class : 'form-input' }} ) }}
                        <label for="inputPhoneNumber" class="form-label">{{ form_label(formUser.phoneNumber) }}</label>
                    </div>
                    
                    <small class="error_input_small">{{ form_errors(formUser.phoneNumber) }} </small>
                </div>

                <div class="form-container">
                    <div>
                        {{ form_widget(formUser.email, {attr : {class : 'form-input' }} ) }}
                        <label for="inputEmail" class="form-label">{{ form_label(formUser.email) }}</label>
                    </div>
                    
                    <small class="error_input_small">{{ form_errors(formUser.email) }} </small>
                </div>

                {# <div class="div_form">
                    <label for="inputImage">Photo de profil (Facultatif)</label>
                    {{ form_widget(form.image.file, {attr : {class : 'form_input'} } ) }}
                    {{ form_errors(form.image.file) }}
                </div> #}

                <button type="submit" class="btn">Modifier</button>

            {{ form_end(formUser) }}

        </div>
    </div>
</div>
{% endblock body %}