<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <meta http-equiv="X-UA-Compatible" content="ie=edge"> #}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {# {% set asset_url  = '/css/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" /> #}
            {{ encore_entry_link_tags('frontend/default') }}
            {{ encore_entry_link_tags('component/theme') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('frontend/default') }}
            {{ encore_entry_script_tags('component/theme') }}
        {% endblock %}

        {% block javascrpit2 %}
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'components/_navbar.html.twig' %}

        {% include 'components/_display_addflash.html.twig' %}
        
        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
        {% block stripe_success %}{% endblock %}

        {% include 'components/_footer.html.twig' %}
    </body>
    {% block script_facture %}
        {% include 'components/_stripe_script_facture.html.twig' %}
    {% endblock %}
</html>
